<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WykopClone</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WykopClone.styles.css" asp-append-version="true" />
</head>
<body style="background-color:#292828
">
    <header>
        
        <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-dark border-bottom box-shadow ">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="" asp-action="">WykopClone</a>                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item hover-nav">
                            <a class="nav-link text-light" asp-area="" asp-controller="Threads" asp-action="Index">Główna</a>
                        </li>
                        <li class="nav-item hover-nav">
                            <a class="nav-link text-light" asp-area="" asp-controller="Threads" asp-action="Index">Wykopalisko</a>
                        </li>
                        <li class="nav-item hover-nav">
                            <a class="nav-link text-light" asp-area="" asp-controller="Threads" asp-action="Index">Mikroblog</a>
                        </li>
                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
        <div class="ml-5">
            <div class="navbar-collapse fix-left-panel collapse d-sm-inline-flex">
            <ul class=" navbar-nav flex-column flex-grow-2">
                    <li class=" nav-item nav-item-left hover-nav">
                        <a class="nav-link text-light" asp-area="" asp-controller="Threads" asp-action="Create"><img src="Images/create.png" width="50" height="50" /></a>
                </li>
                    <li class=" nav-item nav-item-left hover-nav p-1">
                        <a class="nav-link text-light" asp-area="" asp-controller="Threads" asp-action="Other">Inne</a>
                </li>
                    <li class="nav-item nav-item-left hover-nav p-1">
                    <a class="nav-link text-light" asp-area="" asp-controller="Threads" asp-action="Facts">Ciekawostki</a>
                </li>
                    <li class="nav-item nav-item-left hover-nav p-1">
                        <a class="nav-link text-light" asp-area="" asp-controller="Threads" asp-action="Info">Informacje</a>
                </li>
                    <li class="nav-item nav-item-left hover-nav p-1">
                        <a class="nav-link text-light" asp-area="" asp-controller="Threads" asp-action="Entertainment">Rozrywka</a>
                </li>
                    <li class="nav-item nav-item-left hover-nav p-1">
                        <a class="nav-link text-light" asp-area="" asp-controller="Threads" asp-action="Sport">Sport</a>
                </li>
                    <li class="nav-item nav-item-left hover-nav p-1">
                        <a class="nav-link text-light" asp-area="" asp-controller="Threads" asp-action="Motorization">Motoryzacja</a>
                </li>
                    <li class="nav-item nav-item-left hover-nav p-1">
                    <a class="nav-link text-light" asp-area="" asp-controller="Threads" asp-action="Technology">Technologia</a>
                </li>
                    <li class="nav-item nav-item-left hover-nav p-1">
                        <a class="nav-link text-light" asp-area="" asp-controller="Threads" asp-action="Economy">Gospodarka</a>
                </li>
                    <li class="nav-item nav-item-left hover-nav p-1">
                        <a class="nav-link text-light" asp-area="" asp-controller="Threads" asp-action="Travels">Podróże</a>
                </li>
                    <li class="nav-item nav-item-left hover-nav p-1">
                        <a class="nav-link text-light" asp-area="" asp-controller="Threads" asp-action="Politics">Polityka</a>
                </li>
            </ul>
        </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
