* {
    font-family: 'Roboto Mono', monospace;
}
a {
  color: #0077cc;
}
.fix-left-panel {
    display: block;
    position: fixed;
    top: 4em;
    left: 5px;
    padding: 10px;
    min-height: 100%;
    overflow: hidden;
    z-index: 9999;
    background-color: #2E2E2E;
}
.nav-item-left{
    margin-bottom:10px;
}
.container{
    margin-top:4rem;
}